*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body h1{
    margin: auto;
}
body hr{
    color:  rgba(128, 128, 128, 0.323);
}

.align{
    display: flex;
}

.player-options, .enemy-options{
    width: 50%;
}

div div > img{
    max-width: 200px;
    max-height: 200px;
    opacity: 0.3;
}

.player-options img{
    cursor: pointer;
    
}

.player-options img:hover{
    opacity: 0.9;
}
